{% extends "base.html" %}
{% load static i18n compress%}
{%  block body %}

    <div class="container">
      <h1>Hello, world! I'm feeling {%  if valve_is_open %}moist <img src="{% static 'images/svg-icons/droplet.svg' %}" alt="Sploosh" width="20">{% else %}dry{% endif %}.</h1>
      <p>Status: {{ valve_status }}</p>
      <form action="{% url 'toggle' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">{%  if valve_is_open %}Turn off{% else %}Turn on{% endif %}</button>
      </form>
    </div>
{%  endblock %}
