{% extends "base.html" %}
{% load static i18n compress%}
{% block css %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'css/index.css' %}" />

{% endblock %}

{%  block body %}
<section class="main">
    {% if valve_status == "unavailable" %}
    <div class="alert alert-danger" role="alert"><strong>ERROR:</strong> Cannot communicate with robosquirt server...</div>
    {% endif %}
    <h1 class="logotype">robosquirt</h1>
    <div class="status ">
        {%  if valve_is_open %}
        <img src="{% static 'images/svg-icons/spigot-on.svg' %}" alt="Valve is open" width="200">
        {% else %}
        <img src="{% static 'images/svg-icons/spigot-off.svg' %}" alt="Valve is closed" width="200">
        {% endif %}
    </div>
    <div class="stripe">
        <ul class="tools">
            <li class="manual-activation">
                <form action="{% url 'toggle' %}" method="post" class="{{ valve_is_open|yesno:'turn-off,turn-on' }}">
                    {% csrf_token %}

                    <button type="submit" class="btn btn-primary">{% if valve_is_open %}Turn off{% else %}Turn on <img src="{% static 'images/svg-icons/droplet.svg' %}" alt="Sploosh" width="20">{% endif %}</button>
                </form>
            </li>
            <li>
                <div class="value">2<span class="unit"> hours</span></div>
                <div class="label">Estimated time to next watering</div>
            </li>
            <li>
                <div class="value image"><img src="{% static 'images/svg-icons/sun.svg' %}" width="80"></div>
                <div class="label">Clear Skies</div>
            </li>
            <li>
                <div class="value">25<span class="unit"> gal.</span></div>
                <div class="label">Water used in the last 5 days</div>
            </li>
        </ul>
    </div>
</section>
<section class="event-list">
  <div class="container">
    <div class="row">
      <h2>Past Watering Events</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Valve #</th>
            <th scope="col">Start</th>
            <th scope="col">Stop</th>
            <th scope="col">Length</th>
            <th scope="col">Gallons (approx.)</th>
          </tr>
        </thead>
        <tbody>{%  for session in watering_sessions %}
          <tr>
            <td>{{ session.valve_number }}</td>
            <td>{{ session.session_start }}</td>
            <td>{{ session.session_end|default:"still running" }}</td>
            <td>{{ session.length_label }}</td>
            <td>{{ session.gallons|floatformat:2 }}</td>
          </tr>
        {%  endfor %}</tbody>
      </table>
    </div>
  </div>
</section>
{% include "includes/reset_password_modal.html" %}
{%  endblock %}
