{% extends "base.html" %}
{% load static i18n compress crispy_forms_tags %}
{% block css %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'css/login.css' %}" />

{% endblock %}
{% block title %}Set Password{% endblock %}

{%  block body %}
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Set Password</h5>
            <form class="form-signin" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Set Password</button>
              <hr class="my-4">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
