<div class="pos-f-t">
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-2">
        <ul class="main-navigation">
            {% if not home %}
            <li>
                <a class="btn btn-primary" href="{% url 'index' %}" role="button">Home</a>
            </li>
            {% endif %}
            <li>
                <a class="btn btn-primary" href="{% url 'location' %}" role="button">Location & Forecast</a>
            </li>
            <li>
                <a class="btn btn-primary" href="{% url 'watering-sessions' %}" role="button">Watering Events</a>
            </li>
            <li>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Reset Password</button>
            </li>
        </ul>
    </div>
  </div>

</div>